:root{
    --primary-color:#03045e ;
    --logo-color:#1A7FC3 ;
    --light-primary-color: #C6C7FD;

    /* --Secondary-color: #f72585; */
    --Secondary-color: #FAAF40;

    --light-Secondary-color: #FFDCB5;
}

  
@font-face {
    font-family: "Avenir", sans-serif;
    src: url("./font/AvenirLTStd-Black.otf") format("woff"),
    url("./font/AvenirLTStd-Black.otf")  format("woff2"),
    url("./font/AvenirLTStd-Black.otf")  format("svg");
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 7rem !important;
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    overflow-x: hidden  !important;
    
    color: #393E46!important;
}
a{
    color: #03045e;
    text-decoration: none !important;
}

p{
    margin: 0 !important;
}

input ,
select,
option{
    border: 1px solid var(--primary-color) !important;
    padding: 6px 10px !important;
    /* width: 100% !important; */
    opacity: 0.5 !important;
    border-radius: 20px !important;
    box-shadow: none !important;
}
.textarea{
    border: 1px solid var(--primary-color) !important;
    padding: 6px 10px !important;
    
    border-radius: 40px !important;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 !important;
    color: #023e8a !important;
    
}
input{
    outline: none !important;
}
textarea:focus{
    outline: none !important;
}

.whatsapp-contact{
    position: fixed;
    right: 20px;
    bottom:20px;
    font-size: 2.5rem;
    z-index: 2;
    color: #FFFFFF;
    padding:  0 0.8rem;
    border-radius: 50%;
    transition: 0.6s all;
    background-color: green;
  } 
  .whatsapp-contact:hover {
    color: green;
    border: 0.2px solid green;
    background-color: #FFFFFF;
    }